spring:
  profiles:
    active: mysql

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    hikari:
      jdbc-url: jdbc:h2:tcp://192.168.1.6/~/test
      username: sa
      password: 1234
      driver-class-name: org.h2.Driver

---
spring:
  config:
    activate:
      on-profile: mysql
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/springbatch?useUnicode=true&characterEncoding=utf8
      username: root
      password: 1234
      driver-class-name: com.mysql.jdbc.Driver
  batch:
    job:
      enabled: true # job 자동 실행 설정 (default : true)
      names: ${job.name:NONE} # job을 선택해서 실행 시점에 실행시키고 싶을 경우 기술함 (NONE은 임의의 문자값)
    jdbc:
      initialize-schema: always
      table-prefix: BATCH_    # default : 'BATCH_' 임. 변경 가능.

